@model YogaStudioLRAManagementSystem.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            @* when succssefully logged in - display message *@
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success">@TempData["Success"]</div>
            }

            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Login</h4>
            </div>
            <div class="card-body">
                <form asp-action="Login" asp-controller="Auth" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="mb-3">
                        <label asp-for="UserName" class="form-label">Username</label>
                        <input asp-for="UserName" class="form-control" placeholder="Enter username">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Enter password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input asp-for="RememberMe" class="form-check-input" />
                        <label asp-for="RememberMe" class="form-check-label">Remember Me</label>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </div>

                    <div class="text-center">
                        <span class="text-muted">Contact your administrator if you need an account.</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />

}