@model YogaStudioLRAManagementSystem.ViewModels.RegisterViewModel


@{
    ViewData["Title"] = "Register";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            @* when registered succssefully- display message *@
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success">@TempData["Success"]</div>
            }

            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">@ViewData["Title"]</h4>
            </div>
            <div class="card-body">
                <form asp-action="Register" asp-controller="Auth" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="mb-3">
                        <label asp-for="UserName" class="form-label">Username</label>
                        <input asp-for="UserName" class="form-control" placeholder="Enter username">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="EmailAddress" class="form-label">Email</label>
                        <input asp-for="EmailAddress" class="form-control" placeholder="youremail@example.com">
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Enter password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label">ConfirmPassword</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Retype password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="EmployeeId" class="form-label">Employee</label>
                        <select asp-for="EmployeeId" asp-items="Model.EmployeeOptions" class="form-select">
                            <option value="">-- Select Employee --</option>
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                   
                    <div class="mb-3">
                        <label asp-for="Role" class="form-label">Role</label>
                        <select asp-for="Role" asp-items="Model.RoleOptions" class="form-select">
                            <option value="">-- Select Role --</option>
                        </select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Register</button>
                    </div>
                    <div class="text-center">
                        <span>Need to add an employee first? </span>
                        @* route to employee create to be added *@
                        @* <a asp-action="Create" asp-controller="Empoyee">Add Employee</a> *@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />

}