@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card shadow-sm">
        <h2>Welcome to the Leave Request Management System</h2>
        <h3>Yoga Studio Edition</h3>
        <h4>Brought to you by Gurpreet, Stephanie, & Katherine</h4>
        <h5>CPAN 369 - Web Programming </h5>
    </div>
</div>
